:root {
    --white: rgb(255, 255, 255);
    --dark-green: rgb(34, 85, 64);
    --orange: rgb(234, 148, 11);
    --dark-blue: rgb(22, 90, 179);
    --sunny: "Sunshiney", cursive;
}

html {
    font-size: 14px;
}

body {
    font-family: var(--sunny);
    background-color: var(--white);
    color: var(--dark-green);
    height: auto;
    min-height: 100vh;
}

.leigh-treasures-logo {
    margin-top: 2rem;
    width: 20rem;
}

.coming-soon {
    font-size: 5rem;

}

.leigh-treasures-title {
    color: var(--orange);
    font-size: 3rem;
}

.announcement {
    font-size: 1.7rem;
    color: var(--dark-blue);
}

.open-days-title {
    font-size: 2.3rem;
    color: var(--orange);
    text-decoration: underline;
}
.open-days {
    font-size: 1.8rem;
    color: var(--orange);
}

.address {
    font-size: 1.7rem;
    color: var(--dark-green);
}

.address > span{
    font-weight: normal;
    font-weight: bold;
}

.lil-hands {
    background-image: url("https://www.dropbox.com/scl/fi/r1dkaabrn7e12vwfdx2yj/lil-hands.png?rlkey=q31e3qbca0qs1u386qgffcoq9&st=4mwwzcyn&raw=1");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    left: 0;
    right:0;
}

a {
    text-decoration: none;
    color: var(--dark-green);
}

a:hover {
    text-decoration: underline;
}

.footer{
    margin-bottom: 50px;
}